{% extends 'base.html' %}
{% block title %}MM - About Us{% endblock %}

{% block jumbotron %}
<h1>Mississippi Mud Gallery and Gifts</h1>
<p>Thank you for your interest in our shop - the gallery has been a lifelong dream
    for us. Through our travels we have stumbled across some of the most magnificent
    artists. With handmade goods becoming increasingly rare we have brought together
    some of the most amazing, one-of-a-kind, pieces the Midwest has to offer. The
    talent will amaze you with the detail and workmanship - the heart, soul and sweat
    that goes into each piece is absolutely unimaginable - something that cannot be
    manufactured.</p>
{% endblock %}
